@import "compass";

@font-face {
    font-family: "JF Flat";
    src: url('../font/JF-Flat-regular.eot');
    src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../font/JF-Flat-regular.woff') format('woff'),
    url('../font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoui-light";
    src: url('../font/segoeuil.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Segoui-Sbold";
    src: url('../font/seguisb.ttf') format('truetype');
    font-style: normal;
}

body {
    background-image: url("../images/bg.png");
    background-color: #2e1f3e;
}

header {
    position: absolute;
    top: 0px; left: 0px;
    background-color: #e7c7ca;
    border-bottom: 3px solid #605172;
    height: 80px;
    width: 100%;
    line-height: 80px;
}
.logo {
    background-image: url("../images/logo_header.png");
    color: transparent;
    width: 60px;
    height: 64px;
    position: absolute;
    top: 7px; left: 7px;
}

.slug {
    position: absolute;
    top: 0px; left: 75px;
    font-family: "Segoui-light";
    font-size: 25pt;
    color: #605172;
}
.slug-sb {
    font-family: "Segoui-Sbold";
}

.prev {
    position: absolute;
    top: 22px; right: 20px;
    width: 36px; height: 36px;
    background-image: url("../images/prev.png");
}
.view{
  color: transparent;
}
.panel {
    position: absolute;
    top: 84px; bottom: 66px;
    left: 0px; width: 100%;
    color: #FFFFFF;
    font-family: "JF Flat";
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include transition-duration(.5s);
}

.topPadding {
  padding-top: 70px;
}

.bgColor {
  background-color: #DEDEDE;
}

.left {
  @include transform(translate3D(-100%, 0, 0));
}

.center {
  @include transform(translate3D(0%, 0, 0));
}

.right {
  @include transform(translate3D(100%, 0, 0));
}

.panel .img_btn {
    margin: auto auto 10px auto;
    opacity: 0.8;
}

.panel .img_btn:hover {
    opacity: 1;
}

nav{
    position: absolute;
    bottom: 0px; left: 0px; right: 0px;
    background: rgba(149, 138, 138, .7);
    border-top: 2px solid #3e3e53;
    width: 100%; height: 64px;
}
.nv_btn {
    color: #FFF;
    font-family: "JF Flat";
    text-align: center;
    width: 235px; height: 64px;
    display: block;
    text-decoration: none;
    position: absolute;
    font-size: 25pt;
}
.nv_btn:hover { color: #2d2b41; }
.nv_btn_home {
    left: 0px;
    bottom: 0px;
}
.nv_btn_about {
    left: 237px;
    bottom: 0px;
}
.nv-sep {
    width: 1px;
    height: 53px;
    position: absolute;
    top: 6px; left: 235px;
    background-color: #CCC;
}

.activated {
  color: #2d2b41;
}
